.main-btn {
    background-color: #5a28ff;
    color: white;
    border-radius: 10px;
    padding: 12px;
    font-size: medium;
    cursor:pointer;
}

.secondary-btn {
    border: 1px solid #5a28ff;
    color: #5a28ff;
    background-color: transparent;
    border-radius: 10px;
    padding: 12px;
    font-size: medium;
    cursor:pointer;
}

.icon-btn {
    background-color: #5a28ff;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 8px;
    font-size: medium;
    cursor:pointer;
    height: fit-content;
}

.icon-btn img {
    height: 3vh;
}