.calendar-main {
    color: #5a28ff;
    width: 80%;
    margin-inline: 9%;
    margin-block: 5%;
}

.p-dialog {
    background-color: white;
    padding-bottom: 10px;
}

.p-dialog-mask {
    background-color: #44444444;
}

.dialog-body {
    text-align: center;
}

.new-event {
    background-color: #eaddff;
    border: 2px solid #5a28ff;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.new-event input {
    background-color: white;
    border: 1px solid #5a28ff;
    border-radius: 5px;
}

.new-event select {
    background-color: white;
    border: 1px solid #5a28ff;
    border-radius: 5px;
}

.new-event textarea {
    background-color: white;
    border: 1px solid #5a28ff;
    border-radius: 5px;
}

.new-event-maindata {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.time-input {
    width: fit-content;
}

.event-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    max-height: 60vh;
}

.event {
    border: 2px solid #5a28ff;
    border-radius: 10px;
    background-color: #eaddff;
    margin-inline: 20px;
    padding-inline: 10px;
}

.event-maindata {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.event-title {
    margin-inline: 50px;
}

.event-time {
    border: 1px solid #5a28ff;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.event-description {
    border: 1px solid #5a28ff;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    max-width: 600px;
    text-align: left;
}