.split{
  /*height: 100vh;*/
  color: white;
  display:flex
}

.form-half {
  background-color: #5a28ff;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  padding-inline: 5vw;
  text-align: left;
}

h1 {
    font-size: xxx-large;
}

.form-half form {
    display: flex;
    flex-direction: column;
    margin: 3vh;
}

.form-half input {
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    margin-bottom: 3vh;
    margin-top: 1vh ;
}

.form-half .main-btn {
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    color: white;
    background-color: #1d1b20;
    border: none;
}

input[type=number] {
    -moz-appearance: textfield;
}