.home-main {
    color: #5a28ff;
    margin-inline: 5vw;
}

.home-main header {
    display: flex;
    justify-content: space-between;
    align-items:end;
}

.home-main h2{
    color: black;
    font-weight: normal;
}

.home-main hr {
    margin-inline: -2vw;
}

.excel {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 0;
}

.excel-row {
    display: flex;
    gap: 0;
}

.cell {
    margin: 0;
    padding: 0;
    width: 10vw;
}

.cell input {
    border-radius: 0;
}

.upload-area {
    width: 30vw;
    height: 15vh;
    align-content: center;
    text-align: center;
    background-color: #eaddff;
    border: 2px solid #5a28ff;
    border-radius: 20px;
}

#comment {
    width: 90%;
    height: 15vh;
}