.split{
  /*height: 100vh;*/
  color: white;
  display:flex
}

.form-half {
    background-color: #5a28ff;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 5vw;
    text-align: left;
}

.form-half a {
  text-decoration: none;
  color: white;
}

.login h1 {
    font-size: xxx-large;
}

.login {
    display: flex;
    flex-direction: column;
    margin: 3vh;
}

.login input {
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    margin-bottom: 3vh;
    margin-top: 1vh ;
}


.form-buttons {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.login button {
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    color: white;
}

.login .main-btn {
    background-color: #1d1b20;
    border: none;
}

.login .secondary-btn {
    background-color: #5a28ff;
    border-color: white;
}