.logo-half {
    background-color: #1d1b20;
    width: 50%;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.logo-half a {
    color: white;
}

.logo-img {
    width: 20%;
}