.header {
    background-color: #5a28ff;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header a {
    display: block;
    align-content: center;
}

.header img{
    height: 45px;
    align-items: center;
}

.header>div{
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.header-menu {
    margin-left: 1vw;
}

.project-name {
    margin-left: 2vw;
}

.header .header-btn {
    background: none;
    border: none;
}

.project-sections {
    gap: 1vw;
}

.header-notifications button{
    display: flex;
}

.alert {
    background-color: red;
    color: white;
    border-radius: 50%;
    z-index: 1;
    margin-left: -15px;
    height:fit-content;
    width: fit-content;
    padding-inline: 5px;
    font-size: medium;
}

.header-chat {
    cursor: pointer;
}

.p-sidebar-mask {
    background-color: #44444444; /*Main Jhin be like*/
}

.chat {
    background-color: white;
    color: black;
    height: 100%;
    display: flex;
    flex-flow: column-reverse;
    gap: 10px;
    align-items: center;
    padding-block: 20px;
}

.chat-message {
    display: flex;
    gap: 5px;
    width: 90%;
    border: 2px solid #5a28ff;
    border-radius: 10px;
    padding: 5px;
    background-color: #eaddff;
}

.chat-comment {
    display: flex;
    flex-direction: column;
}

.chat-comment-header {
    display: flex;
    align-items: center;
}

.chat-sender {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 1px solid black;
    background-color: azure;
    text-align: center;
    padding: 8px;
}

.chat-text {
    width: 100%;
    padding: 8px;
    border: 2px solid #5a28ff;
    border-radius: 8px;
    background-color: #f9f5ff;
}

.chat-comment-key {
    margin: 6px;
}

.chat-comment-value {
    width: 130px;
    height: fit-content;
    padding-block: 8px;
    padding-inline: 12px;
    border: 2px solid #5a28ff;
    border-radius: 8px;
    background-color: #f9f5ff;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile-menu {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    height: fit-content;
    padding: 0 0.875rem;
    margin: 0;
    outline: 0;
    background-color: transparent;
    border-radius: 0.375rem;
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--color-gray-900);
    user-select: none;
}

.profile-options {
box-sizing: border-box;
padding-block: 0.25rem;
border-radius: 0.375rem;
background-color: canvas;
border: 2px solid #5a28ff;
color: var(--color-gray-900);
transform-origin: var(--transform-origin);
transition:
    transform 150ms,
    opacity 150ms;

&[data-starting-style],
&[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
}

@media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-gray-200);
    box-shadow:
    0px 10px 15px -3px var(--color-gray-200),
    0px 4px 6px -4px var(--color-gray-200);
}

@media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
    outline-offset: -1px;
}
}

.profile-option {
outline: 0;
cursor: default;
user-select: none;
padding-block: 0.5rem;
padding-left: 1rem;
padding-right: 2rem;
display: flex;
font-size: 0.875rem;
line-height: 1rem;
color: #5a28ff;
background-color: white;

&[data-highlighted] {
    z-index: 0;
    position: relative;
    background-color: aliceblue;
}

&[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: 0.25rem;
}
}