.header {
    background-color: #5a28ff;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 12vh;
    padding: 5px;
    position: sticky;
    top: 0;
}

.header a {
    display: block;
    align-content: center;
}

.header img{
    height: 8vh;
    align-items: center;
}

.header>div{
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.header-menu {
    margin-left: 1vw;
}

.project-name {
    margin-left: 2vw;
}

.header .header-btn {
    background: none;
    border: none;
}

.project-sections {
    gap: 1vw;
}

.header-notifications button{
    display: flex;
}

.alert {
    background-color: red;
    color: white;
    border-radius: 50%;
    z-index: 1;
    margin-left: -15px;
    height:fit-content;
    width: fit-content;
    padding-inline: 5px;
    font-size: medium;
}