.projects-main {
    padding: 20px;
    max-height: 80vh;
    text-align: end;
}

.projects-main  .main-btn {
    margin-right: 4vw;
}

.projects-main  .dialog-btn {
    display: initial;
}

.tabs-header {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    gap: 20px;
}

.tablist {
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    gap: 20px;
}

.tab {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: large;
    margin-inline: 30px;
    color: gray;
}

.selected-tab {
    color: black;
}

.cardlist {
    background-color: #efeaff;
    height: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    margin-top: 2%;
    margin-inline: 2vw;
    overflow-x: auto;
}

.card {
    display: block;
    background-color: #f5f3ff;
    height: fit-content;
    color: black;
    text-align: start;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
}

.card img {
    height: 20vh;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-overlay {
    display: flex;
    justify-content: space-between;
}

.project-menu-btn {
    border: none;
    background-color: transparent;
}

.project-menu-btn img {
    width: 30px;
    height: 30px;
}

.card h2 {
    margin-block: 2vh;
    margin-inline: 0.5vw;
}

.project-form {
    background-color: #eaddff;
    border: 3px solid #5a28ff;
    border-radius: 10px;
    margin-left: -5px;
    width: 100%;
    padding: 10px;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

.project-form hr {
    color: #5a28ff;
    width: 100%;
}

.project-fields {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.popup-main {
    text-align: center;
    min-width: 30vw;
}

.popup-main #newName {
    width: 400px;
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    height: min-content;
    gap: 10px;
}

.popup-main button {
    margin-top: 15px;
}

