body {
    color: white;
}

.split{
  height: 100vh;
  display:flex
}

.form-half {
  background-color: #5a28ff;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  padding-inline: 5vw;
  text-align: left;
}

h1 {
    font-size: xxx-large;
}

form {
    display: flex;
    flex-direction: column;
    margin: 3vh;
}

input {
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    margin-bottom: 3vh;
    margin-top: 1vh ;
}


.form-buttons {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.register button {
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    color: white;
}

.register .main-btn {
    background-color: #1d1b20;
    border: none;
}

.register .secondary-btn {
    background-color: #5a28ff;
    border-color: white;
}