.split{
  /*height: 100vh;*/
  display:flex
}

.about-half {
  background-color: #5a28ff;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  padding-inline: 5vw;
  text-align: left;
}

a {
  text-decoration: none;
}

.about-half main{
  overflow: auto;
}

.about-half article {
  margin-block-start: 5vh;
}

.about-half h1 {
  font-size: xx-large;
}

header {
  display: flex;
  overflow: hidden;
  background-color: #5a28ff;
  position: sticky;
  top: 0;
}

welcome-header a {
  margin: 5%;
  font-size: larger;
  color: white;
}

main a {
  color: white;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.social-icon {
  width: 3vw;
}